<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://20.20.14.119/api/zkteco" />
    <add key="ScannerToken" value="fhDVzlVcoUqRxpVtWsr8N5YEPXzsgoNJb4GsGymgfTM=" />
    <add key="DeviceSerial" value="ZKTECO-LOCAL" />
    <add key="LocalBridgeUrl" value="http://0.0.0.0:8765/" />
  </appSettings>
</configuration>
